<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangbin.yun.yunrights.modules.logging.mapper.LogMapper">
    <resultMap id="BaseResultMap" type="com.zhangbin.yun.yunrights.modules.logging.model.$do.LogDO">
        <id column="l_id" jdbcType="BIGINT" property="id"/>
        <result column="l_operation_desc" jdbcType="VARCHAR" property="operationDesc"/>
        <result column="l_log_level" jdbcType="CHAR" property="logLevel"/>
        <result column="l_request_method" jdbcType="VARCHAR" property="requestMethod"/>
        <result column="l_request_params" jdbcType="VARCHAR" property="requestParams"/>
        <result column="l_client_ip" jdbcType="VARCHAR" property="clientIp"/>
        <result column="l_request_time_consuming" jdbcType="BIGINT" property="requestTimeConsuming"/>
        <result column="l_operator" jdbcType="VARCHAR" property="operator"/>
        <result column="l_address" jdbcType="VARCHAR" property="address"/>
        <result column="l_browser" jdbcType="VARCHAR" property="browser"/>
        <result column="l_exception_detail" jdbcType="VARCHAR" property="exceptionDetail"/>
        <result column="l_create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    l_id, l_operation_desc, l_log_level, l_request_method, l_request_params, l_client_ip,
    l_request_time_consuming, l_operator, l_address, l_browser, l_exception_detail,
    l_create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_log
        where l_id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAllByCriteria" parameterType="com.zhangbin.yun.yunrights.modules.logging.model.criteria.LogQueryCriteria"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_log
        <trim prefix="where" prefixOverrides="and | or">
            <if test='criteria != null'>
                <if test='criteria.blurry != ""'>
                    <if test='criteria.blurryType.isMatch("operator")'>
                        and l_operator like concat('%', #{criteria.blurry}, '%')
                    </if>
                    <if test='criteria.blurryType.isMatch("operationDesc")'>
                        and l_operation_desc like concat('%', #{criteria.blurry}, '%')
                    </if>
                    <if test='criteria.blurryType.isMatch("address")'>
                        and l_address like concat('%', #{criteria.blurry}, '%')
                    </if>
                    <if test='criteria.blurryType.isMatch("clientIp")'>
                        and l_client_ip like concat('%', #{criteria.blurry}, '%')
                    </if>
                    <if test='criteria.blurryType.isMatch("requestMethod")'>
                        and l_request_method like concat('%', #{criteria.blurry}, '%')
                    </if>
                    <if test='criteria.blurryType.isMatch("requestParams")'>
                        and l_request_params like concat('%', #{criteria.blurry}, '%')
                    </if>
                </if>
                <if test='criteria.logLevel != null and criteria.logLevel != ""'>
                    and l_log_level in (${criteria.logLevel})
                </if>
                <if test='criteria.createTimes != null and criteria.createTimes > 0'>
                    and l_create_time
                    <foreach collection="createTimes" item="createTime" open=" between " separator=" and " close="">
                        #{createTime}
                    </foreach>
                </if>
            </if>
        </trim>
    </select>

    <insert id="insert" parameterType="com.zhangbin.yun.yunrights.modules.logging.model.$do.LogDO">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_sys_log (l_operation_desc, l_log_level,
        l_request_method, l_request_params, l_client_ip,
        l_request_time_consuming, l_operator, l_address,
        l_browser, l_exception_detail, l_create_time
        )
        values (#{operationDesc,jdbcType=VARCHAR}, #{logLevel,jdbcType=CHAR},
        #{requestMethod,jdbcType=VARCHAR}, #{requestParams,jdbcType=VARCHAR}, #{clientIp,jdbcType=VARCHAR},
        #{requestTimeConsuming,jdbcType=BIGINT}, #{operator,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{browser,jdbcType=VARCHAR}, #{exceptionDetail,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_sys_log
        where l_id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByLogLevel" parameterType="java.lang.String">
        delete from t_sys_log
        where l_log_level = #{logLevel,jdbcType=VARCHAR}
    </delete>
</mapper>
