<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangbin.yun.yunrights.modules.email.mapper.EmailConfigDoMapper">
  <resultMap id="BaseResultMap" type="com.zhangbin.yun.yunrights.modules.email.model.$do.EmailConfigDo">
    <id column="e_id" jdbcType="BIGINT" property="id" />
    <result column="e_host" jdbcType="VARCHAR" property="host" />
    <result column="e_port" jdbcType="VARCHAR" property="port" />
    <result column="e_password" jdbcType="VARCHAR" property="password" />
    <result column="e_sender" jdbcType="VARCHAR" property="sender" />
    <result column="e_recipients" jdbcType="VARCHAR" property="recipients" />
  </resultMap>
  <sql id="Base_Column_List">
    e_id, e_host, e_port, e_password, e_sender, e_recipients
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_email_config
    where e_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_email_config
    where e_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhangbin.yun.yunrights.modules.email.model.$do.EmailConfigDo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_email_config (e_id, e_host, e_port,
      e_password, e_sender, e_recipients
      )
    values (#{id,jdbcType=BIGINT}, #{host,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{sender,jdbcType=VARCHAR}, #{recipients,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhangbin.yun.yunrights.modules.email.model.$do.EmailConfigDo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_email_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      e_id,
      <if test="host != null">
        e_host,
      </if>
      <if test="port != null">
        e_port,
      </if>
      <if test="password != null">
        e_password,
      </if>
      <if test="sender != null">
        e_sender,
      </if>
      <if test="recipients != null">
        e_recipients,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="host != null">
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sender != null">
        #{sender,jdbcType=VARCHAR},
      </if>
      <if test="recipients != null">
        #{recipients,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangbin.yun.yunrights.modules.email.model.$do.EmailConfigDo">
    update t_sys_email_config
    <set>
      <if test="host != null">
        e_host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        e_port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        e_password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sender != null">
        e_sender = #{sender,jdbcType=VARCHAR},
      </if>
      <if test="recipients != null">
        e_recipients = #{recipients,jdbcType=VARCHAR},
      </if>
    </set>
    where e_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangbin.yun.yunrights.modules.email.model.$do.EmailConfigDo">
    update t_sys_email_config
    set e_host = #{host,jdbcType=VARCHAR},
      e_port = #{port,jdbcType=VARCHAR},
      e_password = #{password,jdbcType=VARCHAR},
      e_sender = #{sender,jdbcType=VARCHAR},
      e_recipients = #{recipients,jdbcType=VARCHAR}
    where e_id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
