<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangbin.yun.yunrights.modules.dao.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <id column="r_id" jdbcType="BIGINT" property="id" />
    <result column="r_role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="r_description" jdbcType="VARCHAR" property="description" />
    <result column="level" jdbcType="BIT" property="level" />
    <result column="r_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="r_update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    r_id, r_role_name, r_description, level, r_create_time, r_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_role
    where r_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_role
    where r_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_role (r_id, r_role_name, r_description, 
      level, r_create_time, r_update_time
      )
    values (#{id,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{level,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      r_id,
      <if test="roleName != null">
        r_role_name,
      </if>
      <if test="description != null">
        r_description,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="createTime != null">
        r_create_time,
      </if>
      <if test="updateTime != null">
        r_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    update t_sys_role
    <set>
      <if test="roleName != null">
        r_role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        r_description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        r_create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        r_update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where r_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    update t_sys_role
    set r_role_name = #{roleName,jdbcType=VARCHAR},
      r_description = #{description,jdbcType=VARCHAR},
      level = #{level,jdbcType=BIT},
      r_create_time = #{createTime,jdbcType=TIMESTAMP},
      r_update_time = #{updateTime,jdbcType=TIMESTAMP}
    where r_id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <id column="r_id" jdbcType="BIGINT" property="id" />
    <result column="r_role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="r_description" jdbcType="VARCHAR" property="description" />
    <result column="level" jdbcType="BIT" property="level" />
    <result column="r_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="r_update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    r_id, r_role_name, r_description, level, r_create_time, r_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_role
    where r_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_role
    where r_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_role (r_id, r_role_name, r_description, 
      level, r_create_time, r_update_time
      )
    values (#{id,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{level,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      r_id,
      <if test="roleName != null">
        r_role_name,
      </if>
      <if test="description != null">
        r_description,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="createTime != null">
        r_create_time,
      </if>
      <if test="updateTime != null">
        r_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    update t_sys_role
    <set>
      <if test="roleName != null">
        r_role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        r_description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        r_create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        r_update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where r_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    update t_sys_role
    set r_role_name = #{roleName,jdbcType=VARCHAR},
      r_description = #{description,jdbcType=VARCHAR},
      level = #{level,jdbcType=BIT},
      r_create_time = #{createTime,jdbcType=TIMESTAMP},
      r_update_time = #{updateTime,jdbcType=TIMESTAMP}
    where r_id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <id column="r_id" jdbcType="BIGINT" property="id" />
    <result column="r_role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="r_description" jdbcType="VARCHAR" property="description" />
    <result column="level" jdbcType="BIT" property="level" />
    <result column="r_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="r_update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    r_id, r_role_name, r_description, level, r_create_time, r_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_role
    where r_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_role
    where r_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_role (r_id, r_role_name, r_description, 
      level, r_create_time, r_update_time
      )
    values (#{id,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{level,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      r_id,
      <if test="roleName != null">
        r_role_name,
      </if>
      <if test="description != null">
        r_description,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="createTime != null">
        r_create_time,
      </if>
      <if test="updateTime != null">
        r_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    update t_sys_role
    <set>
      <if test="roleName != null">
        r_role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        r_description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        r_create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        r_update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where r_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    update t_sys_role
    set r_role_name = #{roleName,jdbcType=VARCHAR},
      r_description = #{description,jdbcType=VARCHAR},
      level = #{level,jdbcType=BIT},
      r_create_time = #{createTime,jdbcType=TIMESTAMP},
      r_update_time = #{updateTime,jdbcType=TIMESTAMP}
    where r_id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <id column="r_id" jdbcType="BIGINT" property="id" />
    <result column="r_role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="r_description" jdbcType="VARCHAR" property="description" />
    <result column="level" jdbcType="BIT" property="level" />
    <result column="r_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="r_update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    r_id, r_role_name, r_description, level, r_create_time, r_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_role
    where r_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_role
    where r_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_role (r_id, r_role_name, r_description, 
      level, r_create_time, r_update_time
      )
    values (#{id,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{level,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      r_id,
      <if test="roleName != null">
        r_role_name,
      </if>
      <if test="description != null">
        r_description,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="createTime != null">
        r_create_time,
      </if>
      <if test="updateTime != null">
        r_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    update t_sys_role
    <set>
      <if test="roleName != null">
        r_role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        r_description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        r_create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        r_update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where r_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    update t_sys_role
    set r_role_name = #{roleName,jdbcType=VARCHAR},
      r_description = #{description,jdbcType=VARCHAR},
      level = #{level,jdbcType=BIT},
      r_create_time = #{createTime,jdbcType=TIMESTAMP},
      r_update_time = #{updateTime,jdbcType=TIMESTAMP}
    where r_id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <id column="r_id" jdbcType="BIGINT" property="id" />
    <result column="r_role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="r_description" jdbcType="VARCHAR" property="description" />
    <result column="level" jdbcType="BIT" property="level" />
    <result column="r_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="r_update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    r_id, r_role_name, r_description, level, r_create_time, r_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_role
    where r_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_role
    where r_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_role (r_id, r_role_name, r_description, 
      level, r_create_time, r_update_time
      )
    values (#{id,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{level,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      r_id,
      <if test="roleName != null">
        r_role_name,
      </if>
      <if test="description != null">
        r_description,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="createTime != null">
        r_create_time,
      </if>
      <if test="updateTime != null">
        r_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    update t_sys_role
    <set>
      <if test="roleName != null">
        r_role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        r_description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        r_create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        r_update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where r_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    update t_sys_role
    set r_role_name = #{roleName,jdbcType=VARCHAR},
      r_description = #{description,jdbcType=VARCHAR},
      level = #{level,jdbcType=BIT},
      r_create_time = #{createTime,jdbcType=TIMESTAMP},
      r_update_time = #{updateTime,jdbcType=TIMESTAMP}
    where r_id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <id column="r_id" jdbcType="BIGINT" property="id" />
    <result column="r_role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="r_description" jdbcType="VARCHAR" property="description" />
    <result column="level" jdbcType="BIT" property="level" />
    <result column="r_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="r_update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    r_id, r_role_name, r_description, level, r_create_time, r_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_role
    where r_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sys_role
    where r_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_role (r_id, r_role_name, r_description, 
      level, r_create_time, r_update_time
      )
    values (#{id,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{level,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      r_id,
      <if test="roleName != null">
        r_role_name,
      </if>
      <if test="description != null">
        r_description,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="createTime != null">
        r_create_time,
      </if>
      <if test="updateTime != null">
        r_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    update t_sys_role
    <set>
      <if test="roleName != null">
        r_role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        r_description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        r_create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        r_update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where r_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangbin.yun.yunrights.modules.model.entity.Role">
    update t_sys_role
    set r_role_name = #{roleName,jdbcType=VARCHAR},
      r_description = #{description,jdbcType=VARCHAR},
      level = #{level,jdbcType=BIT},
      r_create_time = #{createTime,jdbcType=TIMESTAMP},
      r_update_time = #{updateTime,jdbcType=TIMESTAMP}
    where r_id = #{id,jdbcType=BIGINT}
  </update>
</mapper>