<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.sys.modules.rights.mapper.UserGroupMapper">
    <resultMap id="BaseResultMap" type="com.yun.sys.modules.rights.model.$do.UserGroupDO">
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="t_group_id" jdbcType="BIGINT" property="tGroupId"/>
    </resultMap>

    <insert id="insert" parameterType="com.yun.sys.modules.rights.model.$do.UserGroupDO">
        insert into t_sys_user_group (user_id, group_id)
        values (#{userId,jdbcType=BIGINT}, #{tGroupId,jdbcType=BIGINT})
    </insert>

    <insert id="batchInsert" parameterType="java.util.HashSet">
        insert into t_sys_user_group (user_id, group_id)
        values
        <foreach collection="userGroups" item="userGroup" separator=",">
            (#{userGroup.userId,jdbcType=INTEGER}, #{userGroup.groupId,jdbcType=INTEGER})
        </foreach>
    </insert>

    <delete id="deleteByGroupIds" parameterType="java.util.Set">
        delete from t_sys_user_group
        where group_id in
        <foreach collection="groupIds" index="index" item="groupId" separator="," open="(" close=")">
            #{groupId,jdbcType=INTEGER}
        </foreach>
    </delete>

    <delete id="deleteByUserIds" parameterType="java.util.Set">
        delete from t_sys_user_group
        where user_id in
        <foreach collection="userIds" index="index" item="userId" separator="," open="(" close=")">
            #{userId,jdbcType=INTEGER}
        </foreach>
    </delete>
</mapper>
