<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangbin.yun.yunrights.modules.rights.mapper.GroupRoleMapper">
    <resultMap id="BaseResultMap" type="com.zhangbin.yun.yunrights.modules.rights.model.$do.GroupRoleDO">
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
    </resultMap>

    <insert id="insert" parameterType="com.zhangbin.yun.yunrights.modules.rights.model.$do.GroupRoleDO">
        insert into t_sys_group_role (group_id, role_id)
        values (#{groupId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
    </insert>

    <delete id="deleteByGroupIds" parameterType="java.util.Set">
        delete from t_sys_group_role
        where group_id in
        <foreach collection="groupIds" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
    </delete>
</mapper>
