<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangbin.yun.yunrights.modules.rights.mapper.MenuApiRightsMapper">

  <resultMap id="BaseResultMap" type="com.zhangbin.yun.yunrights.modules.rights.model.$do.MenuApiRightsDO">
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="api_url" jdbcType="VARCHAR" property="apiUrl" />
  </resultMap>

  <insert id="insert" parameterType="com.zhangbin.yun.yunrights.modules.rights.model.$do.MenuApiRightsDO">
    insert into t_sys_menu_api_rights (menu_id, api_url)
    values (#{groupId,jdbcType=BIGINT}, #{apiUrl,jdbcType=VARCHAR})
  </insert>

  <insert id="batchInsert" parameterType="java.util.HashSet">
    insert into t_sys_menu_api_rights (menu_id, api_url)
    values
    <foreach collection="menuApiRightsSet" item="item" separator=",">
      (#{item.menuId,jdbcType=BIGINT}, #{item.apiUrl,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <delete id="deleteByApiUrls" parameterType="java.util.HashSet">
    delete
    from t_sys_menu_api_rights
    where api_url in
    <foreach collection="apiUrls" item="apiUrl" open="(" separator=", " close=")">
      #{apiUrl, jdbcType=VARCHAR}
    </foreach>
  </delete>

  <delete id="deleteByMenuIds" parameterType="java.util.HashSet">
    delete
    from t_sys_menu_api_rights
    where menu_id in
    <foreach collection="menuIds" item="menuId" open="(" separator=", " close=")">
      #{menuId, jdbcType=INTEGER}
    </foreach>
  </delete>
</mapper>
