<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangbin.yun.yunrights.modules.rights.mapper.PermissionRuleMapper">
    <resultMap id="BaseResultMap" type="com.zhangbin.yun.yunrights.modules.rights.model.$do.PermissionRuleDO">
        <id column="pr_id" jdbcType="BIGINT" property="id"/>
        <result column="pr_rule_name" jdbcType="VARCHAR" property="ruleName"/>
        <result column="pr_group_codes" jdbcType="VARCHAR" property="groupCodes"/>
        <result column="pr_from_table" jdbcType="VARCHAR" property="fromTable"/>
        <result column="pr_rule_exps" jdbcType="VARCHAR" property="ruleExps"/>
        <result column="pr_description" jdbcType="VARCHAR" property="description"/>
        <result column="u_is_enabled" jdbcType="BIT" property="enabled"/>
        <result column="pr_creator" jdbcType="VARCHAR" property="creator"/>
        <result column="pr_updater" jdbcType="VARCHAR" property="updater"/>
        <result column="pr_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="pr_update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        pr_id, pr_rule_name, pr_group_codes, pr_from_table, pr_rule_exps, pr_description, pr_is_enabled, pr_creator, pr_updater, pr_create_time, pr_update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_permission_rule
        where pr_id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAllByCriteria"
            parameterType="com.zhangbin.yun.yunrights.modules.rights.model.criteria.RuleQueryCriteria"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_permission_rule
        <trim prefix="where" prefixOverrides="and | or">
            <if test='criteria != null'>
                <if test='criteria.blurry != null and criteria.blurry != ""'>
                    <if test='criteria.blurryType.isMatch("ruleName")'>
                        and u_rule_name like concat('%', #{criteria.blurry}, '%')
                    </if>
                    <if test='criteria.blurryType.isMatch("groupCode")'>
                        and u_group_codes like concat('%', #{criteria.blurry}, '%')
                    </if>
                </if>
                <if test='criteria.enabled != null'>
                    and pr_enabled = ${criteria.enabled}
                </if>
                <if test='criteria.createTimes != null and criteria.createTimes > 0'>
                    and u_create_time
                    <foreach collection="createTimes" item="createTime" open=" between " separator=" and " close="">
                        #{createTime}
                    </foreach>
                </if>
            </if>
        </trim>
    </select>

    <insert id="insert" parameterType="com.zhangbin.yun.yunrights.modules.rights.model.$do.PermissionRuleDO">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_sys_permission_rule (pr_rule_name, pr_group_codes, pr_from_table, pr_rule_exps, pr_description,
        pr_is_enabled, pr_creator,pr_updater, pr_create_time, pr_update_time)
        values (#{pr_rule_name,jdbcType=VARCHAR}, #{pr_group_codes,jdbcType=VARCHAR},
        #{pr_from_table,jdbcType=TINYINT}, #{pr_rule_exps,jdbcType=VARCHAR}, #{pr_description,jdbcType=VARCHAR},
        #{u_is_enabled,jdbcType=BIT},#{creator,jdbcType=VARCHAR},#{updater,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateByPrimaryKeySelective"
            parameterType="com.zhangbin.yun.yunrights.modules.rights.model.$do.PermissionRuleDO">
        update t_sys_permission_rule
        <set>
            <if test="ruleName != null">
                pr_rule_name = #{ruleName,jdbcType=VARCHAR},
            </if>
            <if test="groupCodes != null">
                pr_group_codes = #{groupCodes,jdbcType=VARCHAR},
            </if>
            <if test="ruleExps != null">
                pr_rule_exps = #{ruleExps,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                pr_description = #{description,jdbcType=BIGINT},
            </if>
            <if test="enabled != null">
                pr_is_enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="creator != null">
                pr_creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="updater != null">
                pr_updater = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                pr_create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                pr_update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where pr_id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_sys_permission_rule
        where pr_id = #{id,jdbcType=BIGINT}
    </delete>
</mapper>
