<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangbin.yun.yunrights.modules.rights.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.zhangbin.yun.yunrights.modules.rights.model.$do.UserDO">
        <id column="u_id" jdbcType="BIGINT" property="id"/>
        <result column="u_nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="u_username" jdbcType="VARCHAR" property="username"/>
        <result column="u_gender" jdbcType="TINYINT" property="gender"/>
        <result column="u_pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="u_phone" jdbcType="VARCHAR" property="phone"/>
        <result column="u_email" jdbcType="VARCHAR" property="email"/>
        <result column="u_is_admin" jdbcType="BIT" property="admin"/>
        <result column="u_dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="u_status" jdbcType="BIT" property="status"/>
        <result column="u_is_deleted" jdbcType="BIT" property="deleted"/>
        <result column="u_creator" jdbcType="VARCHAR" property="creator"/>
        <result column="u_updater" jdbcType="VARCHAR" property="updater"/>
        <result column="u_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="u_update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="u_pwd_reset_time" jdbcType="TIMESTAMP" property="pwdResetTime"/>
        <!-- 多对一关联映射:association -->
        <association property="dept"
                     javaType="com.zhangbin.yun.yunrights.modules.rights.model.$do.GroupDO"
                     column="u_id"
                     select="com.zhangbin.yun.yunrights.modules.rights.mapper.GroupMapper.selectDeptByUserId">
        </association>
        <!-- 多对多映射的关键:collection -->
        <collection property="groups" javaType="java.util.HashSet"
                    column="u_id" ofType="com.zhangbin.yun.yunrights.modules.rights.model.$do.GroupDO"
                    select="com.zhangbin.yun.yunrights.modules.rights.mapper.GroupMapper.selectByUserId">
        </collection>
    </resultMap>

    <resultMap id="SmallBaseResultMap" type="com.zhangbin.yun.yunrights.modules.rights.model.$do.UserDO">
        <id column="u_id" jdbcType="BIGINT" property="id"/>
        <result column="u_nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="u_username" jdbcType="VARCHAR" property="username"/>
        <result column="u_gender" jdbcType="TINYINT" property="gender"/>
        <result column="u_pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="u_phone" jdbcType="VARCHAR" property="phone"/>
        <result column="u_email" jdbcType="VARCHAR" property="email"/>
        <result column="u_is_admin" jdbcType="BIT" property="admin"/>
        <result column="u_dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="u_status" jdbcType="BIT" property="status"/>
        <result column="u_is_deleted" jdbcType="BIT" property="deleted"/>
        <result column="u_creator" jdbcType="VARCHAR" property="creator"/>
        <result column="u_updater" jdbcType="VARCHAR" property="updater"/>
        <result column="u_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="u_update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="u_pwd_reset_time" jdbcType="TIMESTAMP" property="pwdResetTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        u_id, u_nickname, u_username, u_gender, u_pwd, u_phone, u_email, u_is_admin, u_dept_id, u_status, u_is_deleted,
        u_creator, u_updater, u_create_time, u_update_time, u_pwd_reset_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        where u_id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByIds" parameterType="java.util.HashSet" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        where u_id in
        <foreach collection="ids" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
    </select>

    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        where u_username = #{userName,jdbcType=BIGINT}
    </select>

    <select id="selectByGroupId" parameterType="java.lang.Long" resultMap="SmallBaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        where u_id in (
        select user_id from t_sys_user_group where group_id = #{groupId,jdbcType=BIGINT}
        )
    </select>

    <select id="selectByMenuIs" parameterType="java.util.HashSet" resultMap="SmallBaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user u, t_sys_user_group ug, t_sys_group_menu gm
        where gm.menu_id in
        <foreach collection="menuIds" index="index" item="menuId" separator="," open="(" close=")">
            #{menuId,jdbcType=INTEGER}
        </foreach>
        and u.u_id = ug.user_id
        and ug.group_id = gm.group_id
    </select>

    <select id="selectByGroupIds" parameterType="java.util.HashSet" resultMap="SmallBaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user left join t_sys_user_group on u_id = user_id and group_id in
        <foreach collection="groupIds" item="groupId" separator="," open="(" close=")">
            #{groupId,jdbcType=INTEGER}
        </foreach>
    </select>

    <select id="selectAllByCriteria"
            parameterType="com.zhangbin.yun.yunrights.modules.rights.model.criteria.UserQueryCriteria"
            resultMap="SmallBaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        <trim prefix="where" prefixOverrides="and | or">
            <if test='criteria != null'>
                <if test='criteria.blurry != null and criteria.blurry != ""'>
                    <if test='criteria.blurryType.isMatch("username")'>
                        and u_username like concat('%', #{criteria.blurry}, '%')
                    </if>
                    <if test='criteria.blurryType.isMatch("nickname")'>
                        and u_nickname like concat('%', #{criteria.blurry}, '%')
                    </if>
                    <if test='criteria.blurryType.isMatch("email")'>
                        and u_email like concat('%', #{criteria.blurry}, '%')
                    </if>
                    <if test='criteria.blurryType.isMatch("phone")'>
                        and u_phone like concat('%', #{criteria.blurry}, '%')
                    </if>
                </if>
                <if test='criteria.status != null'>
                    and u_status in (${criteria.status})
                </if>
                <if test='criteria.createTimes != null and criteria.createTimes > 0'>
                    and u_create_time
                    <foreach collection="createTimes" item="createTime" open=" between " separator=" and " close="">
                        #{createTime}
                    </foreach>
                </if>
            </if>
        </trim>
    </select>

    <insert id="insert" parameterType="com.zhangbin.yun.yunrights.modules.rights.model.$do.UserDO">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_sys_user (u_nickname, u_username,
        u_gender, u_pwd, u_phone, u_email, u_is_admin,
        u_dept_id, u_status, u_is_deleted, u_creator,
        u_updater, u_create_time, u_update_time,
        u_pwd_reset_time)
        values (#{nickname,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
        #{gender,jdbcType=TINYINT}, #{pwd,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
        #{admin,jdbcType=BIT}, #{deptId,jdbcType=BIGINT}, #{status,jdbcType=BIT}, #{deleted,jdbcType=BIT},
        #{creator,jdbcType=VARCHAR},#{updater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{pwdResetTime,jdbcType=TIMESTAMP})

    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zhangbin.yun.yunrights.modules.rights.model.$do.UserDO">
        update t_sys_user
        <set>
            <if test="nickname != null">
                u_nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                u_username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                u_gender = #{gender,jdbcType=TINYINT},
            </if>
            <if test="pwd != null">
                u_pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                u_phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                u_email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="admin != null">
                u_is_admin = #{admin,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                u_dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                u_status = #{status,jdbcType=BIT},
            </if>
            <if test="deleted != null">
                u_is_deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="creator != null">
                u_creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="updater != null">
                u_updater = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                u_create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                u_update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="pwdResetTime != null">
                u_pwd_reset_time = #{pwdResetTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where u_id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        update t_sys_user
        set u_is_deleted = 1
        where u_id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByIds" parameterType="java.util.Set">
        update t_sys_user
        set u_is_deleted = 1
        where u_id in
        <foreach collection="userIds" index="index" item="id" separator="," open="(" close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
    </update>
</mapper>
