<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <context id="DB2Tables0" targetRuntime="MyBatis3">
        <plugin type="com.hlcy.yun.sys.generator.MybatisPlugin">
            <property name="hasLombok" value="true"/>
        </plugin>
        <!-- 生成的pojo，将implements Serializable -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"></plugin>

        <!--关闭注释 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!--数据库连接信息 -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.11.131:3306/yunrights_api2menu?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=GMT%2B8"
                        userId="root" password="123456">
            <property name="useInformationSchema" value="true"></property>
        </jdbcConnection>

        <!-- 默认为false，把JDBC DECIMAL 和NUMERIC类型解析为Integer，为true时, 把JDBC DECIMAL 和NUMERIC类型解析为java.math.BigDecimal -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!--生成的model 包路径 -->
        <javaModelGenerator targetPackage="com.hlcy.yun.sys.modules.rights.model.$do"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="false"/>
        </javaModelGenerator>

        <!--生成 mapper文件 路径 -->
        <sqlMapGenerator targetPackage="mapper.rights" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- 生成的Dao接口 的包路径 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.hlcy.yun.sys.modules.rights.mapper"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

       <!-- &lt;!&ndash;对应数据库表名tableName数据库表名称，domainObjectName生成model类的名称 &ndash;&gt;
        <table tableName="t_sys_user" domainObjectName="UserDO" enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">
            <property name="rootClass" value="com.zhangbin.yun.sys.modules.common.$do.BaseDo"/>
            <generatedKey column="u_id" sqlStatement="SELECT LAST_INSERT_ID()"/>
            <columnRenamingRule searchString="u_" replaceString=""/> &lt;!&ndash;移除字段前缀&ndash;&gt;
            &lt;!&ndash;<ignoreColumn column="u_id"/>&ndash;&gt;
        </table>
        <table tableName="t_sys_role" domainObjectName="RoleDO" enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">
            <property name="rootClass" value="com.zhangbin.yun.sys.modules.common.$do.BaseDo"/>
            <generatedKey column="r_id" sqlStatement="SELECT LAST_INSERT_ID()"/>
            <columnRenamingRule searchString="r_" replaceString=""/>
        </table>
        <table tableName="t_sys_group" domainObjectName="GroupDO" enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">
            <property name="rootClass" value="com.zhangbin.yun.sys.modules.common.$do.BaseDo"/>
            <generatedKey column="g_id" sqlStatement="SELECT LAST_INSERT_ID()"/>
            <columnRenamingRule searchString="g_" replaceString=""/>
        </table>
        <table tableName="t_sys_menu" domainObjectName="MenuDO" enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">
            <property name="rootClass" value="com.zhangbin.yun.sys.modules.common.$do.BaseDo"/>
            <generatedKey column="m_id" sqlStatement="SELECT LAST_INSERT_ID()"/>
            <columnRenamingRule searchString="m_" replaceString=""/>
        </table>
        <table tableName="t_sys_user_role" domainObjectName="UserRoleDO" enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">
        </table>
        <table tableName="t_sys_user_group" domainObjectName="UserGroupDO" enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">
        </table>
        <table tableName="t_sys_group_role" domainObjectName="GroupRoleDO" enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">
        </table>
        <table tableName="t_sys_role_menu" domainObjectName="RoleMenuDO" enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">
        </table>-->
<!--        <table tableName="t_sys_dict" domainObjectName="DictDO" enableCountByExample="false"-->
<!--               enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">-->
<!--            <property name="rootClass" value="com.zhangbin.yun.common.model.$do.BaseDO"/>-->
<!--            <generatedKey column="dic_id" sqlStatement="SELECT LAST_INSERT_ID()"/>-->
<!--            <columnRenamingRule searchString="dic_" replaceString=""/>-->
<!--        </table>-->
<!--        <table tableName="t_sys_dict_type" domainObjectName="DictTypeDO" enableCountByExample="false"-->
<!--               enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">-->
<!--            <property name="rootClass" value="com.zhangbin.yun.common.model.$do.BaseDO"/>-->
<!--            <generatedKey column="dt_id" sqlStatement="SELECT LAST_INSERT_ID()"/>-->
<!--            <columnRenamingRule searchString="dt_" replaceString=""/>-->
<!--        </table>-->
<!--        <table tableName="t_sys_api_rights" domainObjectName="ApiRightsDO" enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">
            <generatedKey column="api_id" sqlStatement="SELECT LAST_INSERT_ID()"/>
            <columnRenamingRule searchString="api_" replaceString=""/>
        </table>-->
<!--        <table tableName="t_sys_group_api_rights" domainObjectName="GroupApiRightsDO" enableCountByExample="false"-->
<!--               enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">-->
<!--        </table>-->

        <table tableName="t_sys_dept" domainObjectName="DeptDO" enableCountByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false" enableDeleteByExample="false">
            <property name="rootClass" value="com.hlcy.yun.common.model.BaseDO"/>
            <generatedKey column="d_id" sqlStatement="SELECT LAST_INSERT_ID()"/>
            <columnRenamingRule searchString="d_" replaceString=""/>
        </table>
    </context>
</generatorConfiguration>
